* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(150deg, rgb(8, 8, 8), rgb(46, 46, 46));
  padding: 1rem;
}

.todoApp {
  width: 100%;
  max-width: 540px;
  background-color: rgb(255, 255, 255);
  margin: 10rem auto 2rem;
  padding: 4rem 3rem 7rem;
  border-radius: 1rem;
}
.todoApp h2 {
  color: #181818;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.todoApp h2 img {
  width: 30px;
  margin-left: 1rem;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 3rem;
  padding-left: 2rem;
  margin-bottom: 2.5rem;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 1rem;
  font-weight: 14px;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  border-radius: 4rem;
  cursor: pointer;
  color: white;
  font-size: 17px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 1.2rem 0.8rem 1.2rem 5rem;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  background-image: url(/Src/images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(/Src/images/checked.png);
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 4rem;
  height: 4rem;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
u li span:hover {
  background: #edeef0;
}
